html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #000000;
}

:focus {
  outline: none;
}

.feed {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100vh;
  background-color: #e8eaed;
}

.feed-item {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5rem;
  padding: 0;
  text-decoration: none;
  color: #575757;
  background-color: #f5f5f5;
  border: 1px solid #dcdee1;
  border-radius: 0.25rem;
}
